@import "../../global.scss";

.menubar {
  width: 100%;
  background-color: $mainColor;
  color: white;
  font-weight: bold;
  position: sticky-top;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}