.banner {
  background-image: url(../../Images/pexels-felix-mittermeier-957024.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  .item{
    max-width: 90%;
    background-color:rgba(211,211,211,0.6);
    padding: 5%;
    color: black;
    font-weight: bold;

    h1 {
      font-size: 60px;
      font-weight: inherit;
    }

    h2{
      font-size: 35px;
      font-weight: inherit;
    }

    h3{
      font-size: 30px;
      font-weight: inherit;

      span{
        font-size: inherit;
        font-weight: inherit;
        color: crimson;
      }
    }
  }
}
